<template name="playGame">
  <div class="template-playGame">
    <div class="page-header">
      <h1>Play Pancake Clicker</h1>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </div>
    <div class="page-body">
      
      <p>
        <br>
        Click on the Pancake to get points!
      </p>
      
      <p>The Pancake was clicked on: <span id="displayCount">0</span> times.</p>
      
      <!-- Creates 400 x 400 px box for Javascript pancake obj -->
      <canvas id="Pancake" width="400" height="400" style="border:1px solid #d3d3d3;">
        ERROR: Your browser does not support the HTML5 canvas tag.
      </canvas>

      <!-- HTML Calls the Javascript code script snippet to draw the pancake object inside the box -->
      <script>
      
        var count = 0; //counts # clicks
        var c = document.getElementById("Pancake"); //variable element for the pancake obj
        var display = document.getElementById("displayCount"); //displays # of clicks during user session
        var ctx = c.getContext("2d");
        ctx.beginPath(); //begins drawing the circle
        ctx.arc(195, 180, 140, 0, 2 * Math.PI); //specs for circle for the Pancake obj
        ctx.stroke(); //draws the actual circle obj for Pancake with previous specs
        ctx.fillStyle = "#ffd480"; //Pancake "Wheat" color declaration
        ctx.fill(); //fills in the previous color to the Pancake itself

        //Function: Increments +1 for every click made to the Pancake object.
        document.getElementById("Pancake").addEventListener("click", function(){
          count++; //counts per click
          display.innerHTML = count; //passes the number of clicks to an HTML caller
        });

      //------------------------------------------------------
      //Declare/Initialize Save variables
      var saveData = document.getElementById('Save'); //saveData with ID 'Save' to pass this button obj to the HTML caller
     saveData.onclick = Save; //sets var saveData to be clickable and points it to function Save()
     //Function: Saves the number of clicks made to the Pancake object
     function Save(){
         var data = document.getElementById("Pancake");
         console.log(data);
      }

      </script>
<!-- Displays a clickable button that either saves the current score or updates the score for the user's session game -->
<br>
<p>Click on the "Save Score" button to save or update your score!</p>
<button id="Save">Save Score</button> <!-- Calls the Save function() in the Javascript -->

      <br>
      <br>

      <!-- NOTE: Input your localhost number after “localhost:” in order for these links to work -->
      <br>
      <a href="http://localhost:/Pancake/web/WEB-INF/home.html" target="_blank">View HomePage!</a>
      <br>
      <a href="http://localhost:/Pancake/web/WEB-INF/TopScores.html" target="_blank">View Top Scores!</a>
      <br>

    </div>
  </div>

</template>



<!-- TODO:
1) Create a sprite inside the pancake to interact when clicked upon - use a function name numberOfClicks() to have it pulled to the HTML click display.
2) Anything else for any future releases of this Application.
 -->
