<template name="atSignUp">
  <div class="template-atSignUp">
    <div class="page-header">
      <h1>Create an Account</h1>
    </div>

    <h4 id="error"></h4>

    <div class="page-body">
      <form role="form">
        <div class="row">
          <div class="col-xs-3"></div> <!-- for spacing -->
          <div class="form-group col-xs-6">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" required><br>
          </div>
          <div class="col-xs-3"></div> <!-- for spacing -->
        </div>

        <div class="row">
          <div class="col-xs-3"></div> <!-- for spacing -->
          <div class="form-group col-xs-6">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" required><br>
          </div>
          <div class="col-xs-3"></div> <!-- for spacing -->
        </div>

        <div class="row">
          <div class="col-xs-3"></div> <!-- for spacing -->
          <div class="form-group col-xs-6">
            <label for="password1">Password:</label>
            <input type="password" class="form-control" id="password1" required><br>
          </div>
          <div class="col-xs-3"></div> <!-- for spacing -->
        </div>

        <div class="row">
          <div class="col-xs-3"></div> <!-- for spacing -->
          <div class="form-group col-xs-6">
            <label for="password2">Password (again):</label>
            <input type="password" class="form-control" id="password2" required><br>
          </div>
          <div class="col-xs-3"></div> <!-- for spacing -->
        </div>

        <div class="row">
          <div class="col-xs-1"></div> <!-- for spacing -->
          <div class="form-group col-xs-10">
            <label for="disclosure">Privacy Disclosure:</label> <!-- adapted from https://media.termsfeed.com/pdf/privacy-policy-template.pdf -->
            <textarea class="form-control" rows="10" id="disclosure" readonly>Team Beta ("us", "we", or "our") operates http://PancakeClicker.meteor.com (change this) (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.

We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.

Information Collection And Use:
While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your email address ("Personal Information").

Security:
The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.

Contact Us:
If you have any questions about this Privacy Policy, please contact us.
</textarea>
          </div>
          <div class="col-xs-1"></div> <!-- for spacing -->
        </div>

        <div class="checkbox">
          <label><input type="checkbox" required> Agree</label>
        </div>

        <button type="submit" class="btn btn-default">Register</button>
      </form>
      <br>

      If you already have an account <a href="{{ pathFor 'atSignIn' }}">Sign In</a>
      <br>
      <br>
    </div>
  </div>
</template>