<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Pancake Clicker</h1>
    </div>
    <div class="page-body">
      <p>Compete with other users to gain a high score in Pancake Clicker</p>
      <br>
      <br>
    </div>
  </div>
        <!-- NOTE: Please insert your localhost number after "localhost:" to properly use links  -->
        <br>
        <a href="http://localhost:63342/Pancake/web/WEB-INF/game.html" target="_blank">Play Game!</a>
        <br>
        <a href="http://localhost:63342/Pancake/web/WEB-INF/TopScores.html" target="_blank">View Top Scores!</a>
</template>
